body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
}


.form {
    margin-top: 20px;
}

div {
    margin: auto;
    width: 70%;
    border: 3px solid grey;
    padding: 20px 10px 0px 40px;
}

label, input, select {
    margin: 10px;
    padding: 3px;
}

.dataframe {
    border: 0px groove rgb(201, 201, 201);
    text-align: center;
}

table, tr{
    margin: 20px;
    padding: 20px;
    border-collapse: collapse; 
    text-align: center !important;
}
th, td {
    height: 30px;
    width: 160px;
}

tr:nth-child(even) {background-color: #d5d5d5;}

.stats_section {
    width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    max-height: 1200px;
}

@media (min-width: 900px) {
    .stats_section {
        grid-template-columns: repeat(2, 1fr);
        max-height: 600px;
    }
  }

.table, .graph {
    width: 90%;
    height: auto;
    max-height: 450px;
    overflow-y: scroll;
    float:right;
    margin: auto;
    padding: 20px; 
    border: 0px solid white
}

.single_diagram {
    width: 100%
}