{% extends 'base.html' %}

{% block head %}
<title>Names in France - Statistics</title>
{% endblock %}

{% block body %}
<h1>Names in France - general statistics</h1>
<h3 style='text-align: center;'> Most popular names in years 1900-2017</h3>

<div class="stats_section">
    <div class="table">
    {{ most_popular_df | safe }}
    </div>

    <div class="graph">
        <img src="{{ url_for('static', filename='most_popular_names.jpg') }}" width="100%" height="100%">
    </div>
</div>


<h3 style='text-align: center;'>Female names in years 2000-2017</h3>
<div class="stats_section">
    <div class="table">
    {{ df_female | safe }}
    </div>
    
    <div class="graph">
        <img src="{{ url_for('static', filename='female_names_2000_2017.jpg') }}" width="100%" height="100%">
    </div>
</div>

<h3 style='text-align: center;'>Male names in years 2000-2017</h3>
<div class="stats_section">
    <div class="table">
    {{ df_male | safe }}
    </div>
    
    <div class="graph">
        <img src="{{ url_for('static', filename='male_names_2000_2017.jpg') }}" width="100%" height="100%">
    </div>
</div>

<br>
{% endblock %}