{% extends 'base.html' %}

{% block head %}
<title>Names in France</title>
{% endblock %}

{% block body %}
<h1>Names in France</h1>

<div>
<h3>See how popular your name is:</h3>
<form action='/statistic/' method='POST'>
    <label class='name_label' for='name' >Put a name:</label>
    <input type='text' id='name' name='name'><br>

    <label for='years'>Years:</label>
    <select id="beginning" name="beginning">
        <option value="" disabled selected>From</option>

        {% for x in range(1900,2020,10) %}
        <option value='{{ x }}'>{{ x }}</option>
        {% endfor %}
    </select>

    <label for='years'> - </label>

    <select id="end" name="end">
        <option value="" disabled selected>to</option>

        {% for x in range(1910,2030,10) %}
        <option value='{{ x }}'>{{ x }}</option>
        {% endfor %}
    </select>

    <input type='submit' value='Show statistics'>
</form>
</div>

<div>
<h3>Compare 2 names:</h3>
<form action='/compare/' method='POST'>
    <label class='name_label' for='name_first'>Name 1:</label>
    <input type='text' id='name_first' name='name'><br>
    <label class='name_label' for='name_second'>Name 2:</label>
    <input type='text' id='name_second' name='name'>

    <input type='submit' value='Compare'>
</form>
</div>

<div>
<h3>See general statistics</h3>
<form action='/general-statistics/'>
<input type='submit' value='Names in France - statistics'>
</form>
</div>
{% endblock %}